* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(38, 38, 40);
    color: aliceblue;
    text-align: justify;
}

h1 {
    margin-right: 80px;
}

hr {
    margin-right: 80px;
}

div.principal {
    margin: 200px;
}

iframe.jogos {
    width: 1250px;
    border: 10px;
    border-color: aliceblue;
}

p {
    white-space: normal;      /* padrão – permite quebra de linha */
    overflow-wrap: break-word; /* quebra palavras muito grandes */
    margin-right: 200px;
}